<b style="font-family:Georgia,Arial,Times,serif;font-size:16px; ">For HR related quires contact:</b>
<pre style="font-size:15px;font-family:Georgia,Arial,Times,serif">Venu
Mob: +91 97391 03364
Mail to: <a href="mailto:hr@kreatio.com">hr@kreatio.com</a>
</pre>


