<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    
    <p>
       Hi,</p>
       
       <p>We have successfully created your account for accessing the Employee and Leave Managment System.
       Below is your Login Details.<br/></p>
       <p>
       Username: <%= @t %><br/><br/>
       Password: <%= @password %><br/></p>
       Please <a href="http://<%= @url %>">click here  </a>  to login    
     <p>Thanks for joining and have a great day!</p>
<font color="grey">
With Regards,</br>
HR Department,</br>
Kreatio Software Pvt Ltd</br>
W. www.Kreatio.com</br>
E. hr@kreatio.com</br>
T. +9739103364
</font>
  </body>
</html>

