<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    
    <p>
       Hi,</p>     
      Password Reset Code <%= @code%> </p>      
      <!--<p> Please <a href=http://0.0.0.0:3000/employee/fill_own_password>click here  </a>  to reset password  </p>--> 
       <p> Please <a href="http://<%= @url %>"> click here  </a>  to reset password  </p>
     <p>Thanks for joining and have a great day!</p>
<font color="grey">
With Regards,</br>
HR Department,</br>
Kreatio Software Pvt Ltd</br>
W. www.Kreatio.com</br>
E. hr@kreatio.com</br>
T. +9739103364
</font>
  </body>
</html>

