<html>
<body>

<% if flash[:notice]%> 

<div class="flash_notice"><%= flash[:notice]%> </div>

<% end %>
<div class="email_align">
<h2 align="center">Fill your Emailid and Click Submit</h2>
<div class="reset">	
<%= form_tag :cotroller=>"admin",:action=>"password_filling_form" do%>
<%= text_field :employee_detail,:official_mailid%>
<%= submit_tag("submit")%>
<%end%>
</div>
</div>
</body>
<style>
.reset
{
	padding-left: 97px;
}
.email_align
{
	padding-top: 90px;
}
</style>

</html>

