 
<h1>Kreatio Software and private limited</h1></br></br>

<h3  align="right"><%= link_to 'SignOut',:controller=>"employee", :action=>"logout" %></h3>

<%= content_tag(:p, "Welcome Home Admin!") %></br></br>

<%=link_to 'Add User', :controller=>"admin", :action=>"new" %>
