<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Hi <%= @emp.emp_name %>,
</p>
<p>
  <%= @days %> Comp-Off has been added to your Edms account</br></br>
  ---------------------------------------------------------------------
</p>

With Regards,<br>
HR
</body>
</html>
