<h3>Documents</h3>
<table align="center">	

        <tr>
                <td>Leave List 2015</td>
                <td><%= link_to 'DOWNLOAD' ,:controller=>"select", :action=>"download_form" ,:year=>"2015" %></td>
        </tr>
	<tr>
    <td>Leave List 2016</td>
    <td><%= link_to 'DOWNLOAD' ,:controller=>"select", :action=>"download_form" ,:year=>"2016" %></td>
  </tr>
	<tr>
		<td>Reimbursement Form</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"select", :action=>"download_form" %></td>
	</tr>
</table>	
