<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
 
<p>        
your applied Leave has been cancelled for the following days..
</p>
<p>
      From Date:<%= @leave_record.from_date%></br></br>
      To Date:<%= @leave_record.to_date%></br></br>
      No.of.Days:<%= @leave_record.no_of_days%></br></br>
</p>
<p>
with regards,<br>
manager
</body>
</html>