
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Employee Leave Management Software</title>
<link rel="stylesheet" type="text/css" media="screen"href="mystyle.css" />

</head>
<body>
<div id="wrapper">
<div id="top-menu">
<div id="account">
<ul>
<li>
<a class="login" href="/login">Sign in</a>
</li>
<li>
<a class="register" href="/account/register">Register</a>
</li>
</ul>
</div>
<ul>
<li>
<a class="home" href="/welcome">Home</a>
</li>
<li>
<a class="projects" href="/projects">Projects</a>
</li>
</ul>
</div><!--topmenu-->
<div id="wrapper_header">
<div class="header">
<span style="float:left; margin-top:15px ">
<img src="/home/shabrin/Downloads/kreatio_logo.jpg" height=60; width =120>
</span>
<span style="padding:0px 10px 0px 20px; float:left; margin-top:4px;">
<h1>EDMS & LMS</h1>
</span>
</div>
</div><!--header-->
<div id="mainmenu" class="menucontainer">
<ul class="menulist" cellspacing="20">
<a class="active" title="Home" href="/employee/welcome">Home</a>
<a class="contact" title="AboutUs" href="/">AboutUs</a>
</div><!--mainmenu-->
<div class="menucontainer submenu active">
<ul class="active">
<b>EMPLOYEE DATA</b><br>
<li>
<a class="contact" title="createprofile" href="/employee/create">Create</a>
</li>
<li>
<a class="contact" title="UpdateProfile" href="/">Update</a>
</li>
<br>
<b>LEAVE DATA</b>
<li>
<a class="contact" title="ApplyLeave" href="/select/">Apply Leave</a>
</li>
<li>
<a class="contact" title="LeaveCancellation" href="/">Leave Cancel</a>
</li>
<li>
<a class="contact" title="ViewLeaveApproved" href="/">View Leave Approved</a>
</li>
<li>
<a class="contact" title="ViewLeaveStatus" href="/">View Leave Status</a>
</li>
<li>
<a class="contact" title="ViewLeaveBalance" href="/">View Leave Balance</a>
</li>
</ul>
</div><!--menucontainer-->
<div id="container">
<h2>Welcome to Employee And Leave Management Software</h2>

 <div id="login_form">
<form >
<table align="center" cellspacing="10">
<tr>
    <td align="right"><label for="username">Login:</label></td>
    <td align="center"><p><input id="username" name="username" size="20" type="text" /></p></td>
</tr>
<tr>
    <td align="right"><label for="password">Password:</label></td>
    <td align="center"><input id="password" name="password" size="20" type="password" /></td>
</tr>

    <td align="right">
        <input type="submit" name="login" value="Login" />
    </td>
</tr>
</table>
</form>
</div>
</div><!--container-->

<div id="footer">Employee & Leave Management Software </div>
</div><!--wrapper-->
</body>	

</html>
